.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  outline: none;
}

.dialog {
  height: 90px;
}

.textWindow {
  min-width: 55%;
  max-width: 75%;
  outline: none;
}
