body {
  margin: 0;
  font-family: 'ATI_8x16';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #d1d1d1;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'ATI_8x16';
  font-style: normal;
  font-weight: 400;
  src: local('ATI_8x16'), local('ATI_8x16'),
    url('./fonts/Px437_ATI_8x16.ttf') format('truetype'); /* Safari, Android, iOS */
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
